*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.control-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;

  /* añadidos: centrar y dar tamaño fijo al botón */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid #ffffff;
  outline-offset: -1px
}

.icon-button {
  fill: #ffffff;
  display: block;
}

/* asegurar que los elementos internos del SVG se coloreen */
/* .icon-button path,
.icon-button circle,
.icon-button rect,
.icon-button polygon,
.icon-button g {
  fill: white !important;
  stroke: white !important;
} */