*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.control-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;

  /* añadidos: centrar y dar tamaño fijo al botón */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid #ffffff;
  outline-offset: -1px
}

.icon-button {
  fill: #ffffff;
  display: block;
}

.no-border {
  outline: none !important;
  border: none !important;
}